* {
    margin: 0 auto;
    padding: 0;
}

::selection {
    color: #fff;
    background: tomato;
  }
.paste-link {
    color: red;
    border: none;
    background: transparent;
}
input#copyText{
    width: 350px;
    text-align: center;
    cursor: pointer;
    border-radius: 5p;
    background: #eee;
    border: none;
    border-radius: 5px;
}