<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/bootstrap.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/meanmenu.css' %}">
    <!-- Prism CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/prism.css' %}">
    <!-- Boxicon  CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/boxicons.min.css' %}">
    <!-- Icon CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/icon.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/style.css' %}">
    <title>Ground</title>
</head>

<body>
    <div>
        {% include 'home/navbar.html' %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

    <!-- jQuery Min JS -->
    <script src="{% static 'basic/js/jquery.js' %}"></script>
    <!-- Boostrap Js  -->
    <script src="{% static 'basic/js/bootstrap.js' %}"></script>
    <!-- Popper Js  -->
    <script src="{% static 'basic/js/popper.js' %}"></script>
    <!-- MeanMenu Js  -->
    <script src="{% static 'basic/js/jquery.meanmenu.js' %}"></script>
    <!-- Prism Js  -->
    <script src="{% static 'basic/js/prism.js' %}"></script>
    <!-- Prism Js  -->
    <script src="{% static 'basic/js/boxicons.js' %}"></script>
    <!-- Main Js  -->
    <script src="{% static 'basic/js/main.js' %}"></script>

    <script>
        $(document).ready(function () {

            $('.like-button').click(function () {
                $(this).toggleClass('is-active');
            })

        })


    </script>

    <!-- <script>
        $(document).ready(function () {
            $(".comment").click(function () {
                $(".comments").toggle();
            });
        });
    </script> -->

    <!-- <script>
        $( document ).ready(function() {
            let display = false
            $(".comment_icon").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }  
            });
        });
    </script> -->
    <script>
        function replyFunction() {
            document.getElementById('replyField').className = "show";
        }
    </script>

    <script>
        function postMenuFunction() {
            document.getElementById("postdrop").classList.toggle("show");
        }
        window.onclick = function (event) {
            if (!event.target.matches('.postbtn')) {
                var dropdowns = document.getElementsByClassName("menu-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <script>

        $('#copy').on('click', function (event) {
            console.log(event);
            copyToClipboard(event);
        });

        function copyToClipboard(e) {
            var
                t = e.target,
                c = t.dataset.copytarget,
                inp = (c ? document.querySelector(c) : null);
            console.log(inp);
            if (inp && inp.select) {
                inp.select();
                try {
                    document.execCommand('copy');
                    inp.blur();

                    t.classList.add('copied');
                    setTimeout(function () {
                        t.classList.remove('copied');
                    }, 1500);
                } catch (err) {
                    alert('please press Ctrl/Cmd+C to copy');
                }

            }

        }
    </script>

    <script>
        setTimeout(function(){$('.alert').alert('close')}, 3000);
    </script>
    
</body>

</html>