<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/bootstrap.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/meanmenu.css' %}">
    <!-- Prism CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/prism.css' %}">
    <!-- Boxicon  CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/boxicons.min.css' %}">
    <!-- Icon CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/icon.css' %}">
    <!-- Emoji CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/emojionearea.min.css' %}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'basic/css/owl.theme.default.min.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'basic/css/style.css' %}">
    <title>Ground</title>
</head>

<body>
    <div>
        {% include 'home/navbar.html' %}
    </div>

    <div>
        {% block content %}
        {% endblock content %}
    </div>

    <a href="#" class="go-top">
        <i class="bx bx-chevrons-up"></i>
        <i class="bx bx-chevrons-up"></i>
    </a>

    <!-- jQuery Min JS -->
    <script src="{% static 'basic/js/jquery.js' %}"></script>
    <!-- Boostrap Js  -->
    <script src="{% static 'basic/js/bootstrap.js' %}"></script>
    <!-- Popper Js  -->
    <script src="{% static 'basic/js/popper.js' %}"></script>
    <!-- MeanMenu Js  -->
    <script src="{% static 'basic/js/jquery.meanmenu.js' %}"></script>
    <!-- Prism Js  -->
    <script src="{% static 'basic/js/prism.js' %}"></script>
    <!-- Box Icons Js  -->
    <script src="{% static 'basic/js/boxicons.js' %}"></script>
    <!-- Emoji js -->
    <script src="{% static 'basic/js/emojionearea.min.js' %}"></script>
    <!-- Owl Carousel Js -->
    <script src="{% static 'basic/js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'basic/js/tableManager.js' %}"></script>

    <!-- Main Js  -->
    <script src="{% static 'basic/js/main.js' %}"></script>

    <script>
        $(document).ready(function () {

            $('.like-button').click(function () {
                $(this).toggleClass('is-active');
            })

        })

    </script>
    <script>
        $('.tablemanager').tablemanager({
            firstSort: [[3, 0], [2, 0], [1, 'asc']],
    
            appendFilterby: true,
            debug: true,
            vocabulary: {
                voc_filter_by: 'Filter By',
                voc_type_here_filter: 'Filter...'
            },
            pagination: false,
            disableFilterBy: [1]
        });
    </script>

    <script>
        function toggle(ele) {
            var cont = document.getElementById('cont');
            if (cont.style.display == 'block') {
                cont.style.display = 'none';

                document.getElementById(ele.id).value = 'Show DIV';
            }
            else {
                cont.style.display = 'block';
                document.getElementById(ele.id).value = 'Hide DIV';
            }
        }
    </script>

    <script>
        function archiveFunction() {
            document.getElementById('showarchive').className = "show";
        }
    </script>

    <script>
        function postMenuFunction() {
            document.getElementById("postdrop").classList.toggle("show");
        }
        window.onclick = function (event) {
            if (!event.target.matches('.postbtn')) {
                var dropdowns = document.getElementsByClassName("menu-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <script>

        $('#copy').on('click', function (event) {
            console.log(event);
            copyToClipboard(event);
        });

        function copyToClipboard(e) {
            var
                t = e.target,
                c = t.dataset.copytarget,
                inp = (c ? document.querySelector(c) : null);
            console.log(inp);
            if (inp && inp.select) {
                inp.select();
                try {
                    document.execCommand('copy');
                    inp.blur();

                    t.classList.add('copied');
                    setTimeout(function () {
                        t.classList.remove('copied');
                    }, 1500);
                } catch (err) {
                    alert('please press Ctrl/Ctrl+C to copy');
                }

            }

        }
    </script>

    <script>
        setTimeout(function () { $('.alert').alert('close') }, 3000);
    </script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <script>

        $('.like-form').submit(function (e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.like-button${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function (response) {
                    if (trim === 'Unlike') {
                        $(`.like-button${post_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-button${post_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res)
                },
                error: function (response) {
                    console.log('error', response)
                }
            })

        })

    </script>

    <script>
        $(document).ready(function () {
            $(".commentText").emojioneArea({
                pickerPosition: "right",
                search: false,
                useInternalCDN: true,
                recentEmojis: false,
            })
        });
    </script>

    <script>
        // Tabs
        $('.tab ul.tabs').addClass('actives').find('> li:eq(0)').addClass('current');
        $('.tab ul.tabs li a').on('click', function (g) {
            var tab = $(this).closest('.tab'),
                index = $(this).closest('li').index();
            tab.find('ul.tabs > li').removeClass('current');
            $(this).closest('li').addClass('current');
            tab.find('.tab_content').find('div.tabs_item').not('div.tabs_item:eq(' + index + ')').slideUp();
            tab.find('.tab_content').find('div.tabs_item:eq(' + index + ')').slideDown();
            g.preventDefault();
        });
    </script>

    <script>
        $('.review-slider').owlCarousel({
            loop: true,
            margin: 20,
            dots: true,
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1,
                },
                575: {
                    items: 1,
                },
                576: {
                    items: 1,
                },
                768: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                1200: {
                    items: 2,
                }
            }
        });
    </script>

    <script>
        // Go to Top

        $(window).on('scroll', function () {
            var scrolled = $(window).scrollTop();
            if (scrolled > 300) $('.go-top').addClass('goactive');
            if (scrolled < 300) $('.go-top').removeClass('goactive');
        });

    </script>

</body>

</html>