{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<!-- Developer Area -->
<section class="about-dev-area ptb-50">
    <h2 class="text-center mb-5">Welcome home,developers</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="dev-img">
                    <img src="../../static/basic/images/dev1.png" alt="dev">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="content">
                    <h2>Akash Karmokar</h2>
                    <span>Software Developer</span>
                    <p>
                        I'm a software engineer specialised in frontend and backend development for complex scalable web apps. I write about software development on my blog. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Developer Area -->

{% endblock content %}