{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<section class="main-review-area ptb-50">
    <div class="container">
        <div class="tab quote-list-tab">
            <ul class="tabs">
                <li>
                    <a href="#">
                        Feedback
                    </a>
                </li>
                <li>
                    <a href="#">
                        All Feedback
                    </a>
                </li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="mt-4 mb-4">Give Your Feedback</h3>
                            <form action="" method="POST" novalidate>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        {% csrf_token %}
                                        {% for fm in form %}
                                        <div class="form-group">
                                            {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <div class="col-12">
                                        <button value="Login" class="box-btn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for feedback in feedbacks %}
                            <div class="col-lg-12">
                                <div class="single-reviews">
                                    <div class="content d-flex align-items-center">
                                        <div class="review-img">
                                            <img src="{{feedback.author.avater.url}}" alt="demo">
                                        </div>
                                        <a href="#">{{feedback.author.user}}</a>
                                        <span>{{feedback.created}}</span>
                                    </div>
                                    <p>{{feedback.content}}</p>
                                </div>
                                <hr>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "home/footer.html" %}

{% endblock content %}
