{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <section class="signup-area ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="signup-form">
                        <div class="section-tittle text-center">
                            <h2>Feedback</h2>
                            {% comment %} <p>With your social network</p> {% endcomment %}
                        </div>
                        <form action="" method="POST" novalidate>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    {% csrf_token %}
                                    {% for fm in form %}
                                        <div class="form-group">
                                            {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="col-12 text-center">
                                    <button value="Login" class="box-btn">Submit</button>
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <p class="alert alert-danger my-3">{{error}}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% for feedback in feedbacks %}
                    <div class="col-12">
                        <div class="signup-form">
                            <img src="{{feedback.author.avater.url}}" alt="demo">
                            <h3>{{feedback.author}}</h3>
                            <h3>{{feedback.created}}</h3>
                            <h3>{{feedback.content}}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}

<button></button>