{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<!-- Footer Area -->
<footer class="footer-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="footer-content-2">
                    <div class="foot-img text-center">
                        <a href="/"><img src="../../static/basic/images/logo.png" alt="logo"></a>
                    </div>
                    <p class="text-center">
                        Ground is a social questions & Answers Engine which will help you establis your community and
                        connect with other people.
                    </p>

                    <div class="privecy text-center">
                        <a href="{% url 'privecy' %}">Privecy</a>
                        <span>|</span>
                        <a href="{% url 'terms_condition' %}">Terms of Use</a>
                        <span>|</span>
                        <a href="{% url 'developer' %}">About Dev</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="copy-area">
        <p class="text-center">
            Copyright &copy; 2020 Ground. All Rights Reserved.
        </p>
    </div>
</footer>
<!-- End Footer Area -->
{% endblock content %}