{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    {% include 'home/sidebarLeft.html' %}

    <div class="col-lg-7 col-md-6 ptb-50">
        <div class="home-post-area">
            {% for post in all_posts %}
                <div class="single-post">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="profile d-flex">
                                <img src="../../static/basic/demo.png" alt="demo">
                                <ul class="user-details">
                                    <li>
                                        <a class="username" href="#">{{post.user}}</a>
                                    </li>
                                    <li>
                                        <p>{{post.date}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="post-menu">
                                <a class="postbtn bx bx-dots-vertical-rounded"></a>
                                <div class="menu-content">
                                    <a href="#">Edit</a>
                                    <a href="#">Delete</a>
                                    <a href="#">Hide</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="post-content">
                                <p class="p-link">Problem Link: <a target="_blank"
                                        href="{{post.postlink}}">{{post.postlink}}</a></p>
                                <p class="show-read-more">{{post.content}}</p>
                            </div>

                            <div class="like-comment">
                                <div class="like">
                                    <a href="javascript:void(0);" class="like-button">
                                        <i class="material-icons not-liked bouncy">favorite_border</i>
                                        <i class="material-icons is-liked bouncy">favorite</i>
                                        <span class="like-overlay"></span>
                                    </a>
                                    <span class="like-count">0</span>
                                </div>
                                <div class="comment">
                                    <a href=""><i class='bx bxs-comment-dots'></i></a>
                                    <span class="comment-count">0 Comments</span>
                                </div>
                            </div>


                            <div class="comments">

                                <!-- {% if not post.comments.all %}
                                    <h2>No comments Yet....</h2>
                                    {% else %} -->
                                {% for comment in post.comments.all %}
                                <div class="single-comment">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="comment comment-box d-flex">
                                                <img src="../../static/basic/demo.png" alt="demo">
                                                <ul class="user-details">
                                                    <li>
                                                        <a class="username" href="#">{{comment.user}}</a>
                                                    </li>
                                                    <li>
                                                        <p>{{comment.date}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <div class="post-comment">
                                <form action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Write a comment">
                                        <a href="">
                                            <i class='bx bx-send'></i>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'home/sidebarRight.html' %}
</div>
{% endblock content %}