{% extends 'home/base.html' %}
{% load static %}

{% block msg %} 
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    {% endif %}
{% endblock msg %}  

{% block content %}
    <div class="col-md-12">
        <h4 class="text-center my-5">Home Page</h4>
        <div class="row-full">
            {% for post in all_posts %}
                <div class="jumbotron">
                    <a href="">{{post.user}}</a>
                    <small>{{post.date}}</small>
                    {% if post.user == request.user %}
                        <a href="" class="btn btn-danger">Delete</a>
                    {% endif %}
                    <p>Problem Link: <a href="{{post.postlink}}">{{post.postlink}}</a></p>
                    <p class="lead">{{post.content}}</p>
                    <hr class="my-2">



                    <p>Comments......</p>
                    {% if not post.comments.all %}
                        <h2>No comments Yet....</h2>
                    {% else %}
                        {% for comment in post.comments.all %}
                            <div class="row-full rounded bg-light">
                                <small>Commentd By: </small>
                                <a href="">{{comment.user}}</a><br>
                                <small>Date: </small>
                                <small>{{comment.date}}</small>
                                <p>{{comment.body}}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}