<!--Navbar Area -->
<div class="navbar-area">
   <div class="mobile-nav">
      <a href="index.html" class="logo">
         Ground
      </a>
   </div>
   <div class="main-nav">
      <div class="container">
         <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/">
               Ground
            </a>
            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
               {% with url_name=request.resolver_match.url_name %}
               <ul class="navbar-nav m-auto">
                  <li class="nav-item {% if url_name == 'home_url' %}{{active}}{% endif %}">
                     <a href="{% url 'home_url' %}" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item {% if url_name == 'allposts' %}{{active}}{% endif %}">
                     <a href="{% url 'posts:allposts' %}" class="nav-link">Posts</a>
                  </li>
                  <li class="nav-item {% if url_name == 'bin_url' %}{{active}}{% endif %}">
                     <a class="nav-link" href="{% url 'pastebin:bin_url' %}">Pastebin</a>
                  </li>
                  <li class="nav-item {% if url_name == 'eno url link dis' %}{{active}}{% endif %}">
                     <a href="{% url 'archive:main' %}" class="nav-link ">Archive</a>
                  </li>
                  <li class="nav-item {% if url_name == 'all_blog' %}{{active}}{% endif %}">
                     <a class="nav-link" href="{% url 'blog:all_blog' %}">Blog</a>
                  </li>
               </ul>
               {% endwith %}
            </div>

            <ul class="navbar-nav mr-auto align-items-center">
               <li class="nav-item">
                  <div class='search-box'>
                     <form class="search-form" method='GET' action="{% url 'user_search' %}">
                        <input class="form-control" type="search" placeholder="User Id or Username" aria-label="Search"
                           name="query" id="query">
                        <button class="search-button" type="submit">
                           <i class="search-btn bx bx-search"></i>
                        </button>
                     </form>
                  </div>
               </li>

               {% if request.user.is_authenticated %}
               <li class="nav-item">
                  <a href="{% url 'users:profile' request.user.profile.id %}" class="nav-link dropdown-toggle"><img
                        class="nav-profile-img" src="{{request.user.profile.avater.url}}" alt="profile"> {{user}} </a>
                  <ul class="dropdown-menu">
                     <li class="nav-item">
                        <a href="{% url 'users:profile' request.user.profile.id  %}" class="nav-link">Profile</a>
                     </li>
                     <li class="nav-item">
                        <a href="{% url 'users:changepass' %}" class="nav-link">Change Password</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
                     </li>
                     <li class="nav-item">
                        <a href="{% url 'users:logout' %}" class="nav-link">Logout</a>
                     </li>
                  </ul>
               </li>
               {% else %}
               <li class="nav-item {% if url_name == 'signup' %}{{active}}{% endif %}">
                  <a href="{% url 'users:signup' %}" class="nav-link">Sign Up</a>
               </li>
               <li class="nav-item {% if url_name == 'login' %}{{active}}{% endif %}">
                  <a href="{% url 'users:login' %}" class="nav-link">Sign In</a>
               </li>
               {% endif %}
            </ul>
         </nav>
      </div>
   </div>
</div>
<!-- End Navbar Area -->