{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="post-details-area">
    <div class="post-banner-area ">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="banner-tittle">
                                <h1>
                                    {{post.heading}}
                                </h1>
                            </div>
                            <ul class="head-list">
                                <li>
                                    <a href="/">
                                        Home
                                    </a>
                                </li>
                                <li>Archive</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Domain Form Area-->
<div class="row">
    <div class="col-lg-3">
        {% comment %} <h3>Hello</h3> {% endcomment %}
    </div>
    <div class="col-lg-6 mt-5">
        <form action="" method="POST">
            {% csrf_token %}
            {% for form in domain_form %}
                {{form}}
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-success" name="create_domain_form">Create</button>
        </form>
    </div>
    <div class="col-lg-3">
        {% comment %} <h3>Hello</h3> {% endcomment %}
    </div>
</div>
<!--Domain Form Area-->


<hr>


<!-- Solution Form Area-->
<div class="row">
    <div class="col-lg-3">
        {% comment %} <h3>Hello</h3> {% endcomment %}
    </div>
    <div class="col-lg-6 mt-5">
        <form action="" method="POST">
            {% csrf_token %}
            {% for form in solution_form %}
                {{form}}
                {% ifequal  form.label|lower 'domain' %}
                    <button class="btn btn-success">Add</button>
                {% endifequal %}
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-success" name="create_solution_form">Create</button>
        </form>
    </div>
    <div class="col-lg-3">
        {% comment %} <h3>Hello</h3> {% endcomment %}
    </div>
</div>
<!--Solution Form Area-->

<div class="archive-area ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <input type="button" value="Show DIV" id="bt" onclick="toggle(this)">
                <a href="{% url 'archive:main_or_search' %}" class="mx-3">Reset</a>
                <div style="border:solid 1px #ddd; padding:10px; display:none;" id="cont">
                    <form  method="GET" action="{% url 'archive:main_or_search' %}">
                        <div class="form-row">
                          <div class="col">
                            {% comment %} <input type="text" class="form-control" placeholder="Domain" name="domain" id="domain"> {% endcomment %}
                            
                            <select name="domain" id="domain" class="form-control">
                                {% for domain in domains %}
                                    <option value="{{domain.id}}">{{domain.name}}</option>
                                {% endfor %}
                            </select>
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Problem Link" name="num" id="num">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table id="myTable" class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Problem Number</th>
                            <th>Problem Link</th>
                            <th>Authon</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solution in solutions %}
                        <tr>
                            <td>{{solution.domain}} </td>
                            <td>{{solution.number}} </td>
                            <td>{{solution.link}} </td>
                            <td>{{solution.author}} </td>
                            <td>
                                {% if solution.author.user == request.user %}
                                    <a href="{% url 'archive:delete_solution' solution.id %}">Delete</a>
                                    <a href="">Edit</a>
                                {% else %}
                                    <a href="">Like</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% comment %} {% include "home/footer.html" %} {% endcomment %}

{% endblock content %}