{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="post-banner-area ">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 text-center">
                        <div class="banner-tittle">
                            <h1>
                                Blog
                            </h1>
                        </div>
                        <ul class="head-list">
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="home-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="widget widget_search">
                    <div class="post-wrap">
                        <form class="search-form">
                            <label>
                                <input type="search" class="search-field" placeholder="Search...">
                            </label>
                            <button type="submit"><i class="bx bx-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 offset-lg-3">
                <a class="box-btn" href="{% url 'blog:create_blog' %}">Create Blog</a>
            </div>
        </div>
        <div class="row">
            {% for blog  in blog_obj %}
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <ul>
                            <li>
                                {{blog.created}}
                            </li>
                            <li>
                                <a href=""><span>By {{blog.author.user}}</span></a>
                            </li>
                        </ul>

                        <a href="{% url 'blog:single_blog' blog.pk  %}">
                            <h3>{{blog.title|slice:50}}...</h3>
                        </a>
                        <!-- <p>{{blog.content|slice:'110'|safe}}</p>-->
                        <!-- <p>{{blog.category}}</p> -->

                        <form action="{% url 'blog:single_blog' blog.pk  %}" id='{{blog.id}}' method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="read_more" value="{{blog.id}}">
                            <button class="line-bnt mr-3 mt-3" type="submit">Read More</button>
                            <span><i class='bx bx-low-vision'></i>{{blog.read.all.count}} views</span>
                            <p class="d-inline ml-3" style="color: tomato; text-transform: capitalize;">{{blog.category}}</p>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include "home/footer.html" %}
{% endblock content %}