{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="pastbin-area ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h1 class="text-center">Ground <span style="color: tomato;">Pastebin</span></h1>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Placeat veritatis dolorum neque provident rem odio,
                    beatae at similique ab commodi voluptates fugit eaque sapiente a,
                    earum cum et consequuntur officia! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem neque impedit blanditiis voluptatum exercitationem ea vitae dolor,
                    aut eveniet veritatis consectetur tempora voluptates, est maiores voluptatibus dolorem esse quae
                    molestias?
                </p>

                <div class="single-pastbin">
                    <form action="" method="POST"> {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="box-btn mt-3">Paste</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}