{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12 ptb-50">
            <h1 class="text-center">Ground <span style="color: tomato;">Pastebin</span></h1>
            <div class="paste-info d-flex justify-content-center">
                <p>Paste from <span style="color: tomato; margin-right:5px">{{db_row.poster_name}}</span> </p>
                <p> {{db_row.timestamp|date}} , {{db_row.timestamp|time}} </p>
            </div>
            <div id="inviteCode" class="invite-page">
                <input id="link" value="{{current_site}}&#47;pastebin&#47;sharedCode&#47;{{db_row.poster_url}}"
                    readonly>
                <div id="copy">
                    <i class="bx bx-copy" aria-hidden="true" data-copytarget="#link"></i>
                </div>
            </div>
            <p class="copymsg">Copy this link to share code with others!</p>
            <pre class="mb-4"><code class="language-{{db_row.poster_type}}">{{db_row.poster}}</code></pre>
            {% if db_row.user.user == request.user %}
                <a href="{% url 'pastebin:update_url' db_row.id %}" class="btn btn-info">Edit</a>
                <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</a>
            {% endif %}
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: none !important;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h2 class="text-danger">Delete Post</h2>
                            <p>Are you sure you want to delete your account ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                            <a href="{% url 'pastebin:delete_url' db_row.id %}" class="box-btn">Okay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% include "home/footer.html" %}

{% endblock content %}