{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="reset-pass signup-area ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="signup-form">
                    <h2 class="text-center">Password Reset</h2>
                    <p>Forgotten your password?Enter your email address below and we will send email instructions for
                        setting a new one.</p>

                    <form action="" method='POST'>
                        {% csrf_token %}
                        <div class="form-group">
                            {{form}}
                        </div>
                        <!-- <input class="box-btn" type="Submit" name="send email"> -->
                        <button class="box-btn" name="send email">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}