{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="user-profile">
    <div class="user-profile-banner">
    </div>
    <div class="container">
        <div class="row profile-info">
            <div class="col-lg-4">
                <div class="profile-social">
                    <div class="profile-photo">
                        <img class="boder-gradient" src="{{profile.avater.url}}" alt="profile">
                    </div>
                    {% if request.user.profile.id == profile.id %}
                    <button type="button" class="edit-btn box-btn" data-toggle="modal" data-target="#exampleModalCenter">
                        <span class="material-icons">create</span>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="user-details">
                    <h2>{{profile.first_name}}</h2>
                    <p> {{profile.bio}} </p>
                    <ul class="social">
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest'></i></a>
                        </li>
                    </ul>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-md modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Update Profile Info</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="POST" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{form|crispy}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="box-btn">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<div class="container">
    <div class="row">
        <div class="user-profile-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="user-personal-info">
                        <ul>
                            <li>
                                <i class='bx bx-user'></i>
                                <h5>Atikul Islam Atik</h5>
                            </li>
                            <li>
                                <i class='bx bx-id-card'></i>
                                <h5>99</h5>
                            </li>
                            <li>
                                <i class='bx bxs-institution' ></i>
                                <h5>Metropolitan University</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="state-inner">
                        <div class="row">
                            <div class="col-6">
                                <div class="single-state">
                                    <span style="color: #2d6ff7;">Post</span>
                                    <h4>{{profile.get_posts_no}}</h4>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="single-state">
                                    <span style="color: tomato;">Blog</span>
                                    <h4>{{profile.get_posts_no}}</h4>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="single-state">
                                    <span style="color: #1fae5b;">Pastebin</span>
                                    <h4>{{profile.get_pastebin_no}}</h4>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="single-state">
                                    <span style="color: #2d6ff7;">Feedback</span>
                                    <h4>0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="profile-content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="tab quote-list-tab">
                                        <ul class="tabs">
                                            <li>
                                                <a href="#">
                                                    Posts
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Blogs
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Pastebin
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab_content">
                                            <div class="tabs_item">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        {% if posts %}
                                                        {% for post in posts %}
                                                        <div class="tab-content">
                                                            <div class="post-avater">
                                                                <img src="{{post.author.avater.url}}" alt="demo">
                                                            </div>
                                                            <div class='single-user-post'>
                                                                <a href="">
                                                                    <h3>{{post.heading}}</h3>
                                                                </a>
                                                                <p>{{post.content|truncatewords:50}}</p>
                                                                <hr>
                                                                <ul>
                                                                    <li>
                                                                        <p>{{post.num_comments}} comment</p>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">See More</a>
                                                                    </li>
                                                                </ul>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                        {% else %}
                                                        <h3>User Has no Post</h3>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tabs_item">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h2 class="mt-2"> All Blog</h2>
                                                        {% if posts %}
                                                        {% for post in posts %}
                                                        <div class='single-user-post'>
                                                            <a href="">
                                                                <h3>{{post.heading}}</h3>
                                                            </a>
                                                            <p>{{post.content|truncatewords:50}}</p>
                                                            <p>{{post.num_comments}} comment</p>
                                                        </div>
                                                        {% endfor %}
                                                        {% else %}
                                                        <h3>User Has no Post</h3>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tabs_item">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h2 class="mt-2"> Pastebon</h2>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "home/footer.html" %}

{% endblock content %}