{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="user-profile">
    <div class="user-profile-banner">
    </div>
    <div class="container">
        <div class="row profile-info">
            <div class="col-lg-4">
                <div class="profile-social">
                    <div class="profile-photo">
                        <img class="boder-gradient" src="{{profile.avater.url}}" alt="profile">
                    </div>
                    {% if request.user.profile.id == profile.id %}
                    <button type="button" class="edit-btn box-btn" data-toggle="modal" data-target="#exampleModalCenter">
                        <span class="material-icons">create</span>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="user-details">
                    <h2>{{profile.user.username}}</h2>
                    <p> {{profile.bio}} </p>
                    <ul class="social">
                        {% if profile.facebook_link %}
                            <li>
                                <a href="{{profile.facebook_link}}" target="_blank"><i class='bx bxl-facebook'></i></a>
                            </li>
                        {% endif %}
                        {% if profile.linkdin_link %}
                            <li>
                                <a href="{{profile.linkdin_link}}" target="_blank"><i class='bx bxl-linkedin'></i></a>
                            </li>
                        {% endif %}
                        {% if profile.github_link %}
                            <li>
                                <a href="{{profile.github_link}}" target="_blank"><i class='bx bxl-github' ></i></a>
                            </li>
                        {% endif %}
                        {% if profile.codeforces_link %}
                            <li>
                                <a href="{{profile.codeforces_link}}" target="_blank"><i class='bx bxl-codepen' ></i></a>
                            </li>
                        {% endif %}
                        {% if profile.website_link %}
                            <li>
                                <a href="{{profile.website_link}}" target="_blank"><i class='bx bxl-codepen' ></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-md modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Update Profile Info</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="POST" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{form|crispy}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="box-btn">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<div class="container">
    <div class="row">
        <div class="user-profile-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="user-personal-info">
                        <ul>
                            <li>
                                <i class='bx bx-user'></i>
                                <h5>{{profile.first_name}} {{profile.last_name}}</h5>
                            </li>
                            <li>
                                <i class='bx bx-id-card'></i>
                                <h5>{{profile.user.id}}</h5>
                            </li>
                            <li>
                                <i class='bx bxs-institution' ></i>
                                <h5>{{profile.institute}}</h5>
                            </li>
                            <li>
                                <i class='bx bxs-institution' ></i>
                                <h5>{{profile.country}}</h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="profile-content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="tab quote-list-tab">
                                        <ul class="tabs">
                                            <li>
                                                <a href="#">
                                                    Posts-({{profile.get_posts_no}})
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Blogs-({{profile.get_blogs_no}})
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Pastebin-({{profile.get_pastebin_no}})
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Archive-({{profile.get_archive_no}})
                                                </a>
                                            </li>
                                        </ul>
                                        <!--Post area-->
                                        <div class="tab_content">
                                            <div class="tabs_item">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        {% if posts %}
                                                        {% for post in posts %}
                                                        <div class="tab-content">
                                                            <div class="post-avater">
                                                                <img src="{{post.author.avater.url}}" alt="demo">
                                                            </div>
                                                            <div class='single-user-post'>
                                                                <a href="">
                                                                    <h3>{{post.heading}}</h3>
                                                                </a>
                                                                <p>{{post.content|truncatewords:50}}</p>
                                                                <hr>
                                                                <ul>
                                                                    <li>
                                                                        <p>{{post.num_comments}} comment</p>
                                                                    </li>
                                                                    <li>
                                                                        <a href="{% url 'posts:postsDetails' post.id %}">See More</a>
                                                                    </li>
                                                                </ul>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                        {% else %}
                                                        <h3>User Has no Post</h3>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Blog area-->
                                            <div class="tabs_item">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        {% if blogs %}
                                                            {% for blog in blogs %}
                                                                <div class="tab-content">
                                                                    <div class="post-avater">
                                                                        <img src="{{blog.author.avater.url}}" alt="demo">
                                                                    </div>
                                                                    <div class='single-user-post'>
                                                                        <a href="">
                                                                            <h3>{{blog.title}}</h3>
                                                                        </a>
                                                                        <p>{{blog.content|truncatewords:50}}</p>
                                                                        <hr>
                                                                        <ul>
                                                                            <li>
                                                                                <p>{{blog.num_comments}} comment</p>
                                                                            </li>
                                                                            <li>
                                                                                <a href="{% url 'blog:single_blog' blog.id %}">See More</a>
                                                                            </li>
                                                                        </ul>
                                                                        <hr>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% else %}
                                                            <h3>User Has no Blogs</h3>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Pastebin area-->
                                            <div class="tabs_item">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        {% if pastebins %}
                                                            {% for pastebin in pastebins %}
                                                                <div class="tab-content">
                                                                    <div class='single-user-post'>
                                                                        <a href="">
                                                                            <h3>Poster Name: {{pastebin.poster_name}}</h3>
                                                                        </a>
                                                                        <p>Poster: {{pastebin.poster|slice:10}}......</p>
                                                                        <hr>
                                                                        <ul>
                                                                            <li>
                                                                                <p>Poster Type:{{pastebin.poster_type}}</p>
                                                                            </li>
                                                                            <li>
                                                                                <a href="{% url 'pastebin:poster_details' pastebin.id %}">See More</a>
                                                                            </li>
                                                                        </ul>
                                                                        <hr>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% else %}
                                                            <h3>User Has no Pastebin Recoord</h3>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Archive Area-->
                                            <div class="tabs_item">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        {% if solutions %}
                                                        {% for solution in solutions %}
                                                        <div class="tab-content">
                                                            <div class="post-avater">
                                                                <img src="{{solution.author.avater.url}}" alt="demo">
                                                            </div>
                                                            <div class='single-user-post'>
                                                                <a href="">
                                                                    <h3>{{solution.domain}}</h3>
                                                                </a>
                                                                <p>{{solution.number}}</p>
                                                                <p>{{solution.link}}</p>
                                                                <hr>
                                                                <a href="{% url 'archive:delete_solution' solution.id %}">Delete</a>
                                                                <a href="">Edit</a>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                        {% else %}
                                                        <h3>User Has no Record</h3>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Archive Area-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "home/footer.html" %}

{% endblock content %}