{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<section class="signup-area ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
                                <strong>{{message}}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                <div class="signup-form">
                    <div class="section-tittle text-center">
                        <h2>Sign Up</h2>
                    </div>
                    <form action="" method="POST" novalidate>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                {% csrf_token %}
                                {% for fm in form %}
                                <div class="form-group">
                                    {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                                    {% if fm.help_text %}
                                        <span class="help-text">{{fm.help_text}}</span>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="privecy-txt">
                                    <!-- <input type="checkbox" id="accept"> -->
                                    <input id="privacyCheck" type="checkbox" />
                                    <label>
                                        I agree with Ground
                                        <a href="#">Privacy Policy</a>
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 text-center">
                                <button type="submit" value="Sign Up"  id="submit" disabled class="box-btn">Sign Up</button>
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <p>{{error}}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-12 text-center">
                                <p class="al-acc">
                                    Already have an account?
                                    <a href="{% url 'users:login' %}"> Sign In</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}