{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class='row'>
            <div class="col-12 ptb-50">
                <div class="edit-comment">
                    <h3>Edit Comment</h3>
                    <form action="" method="POST" >
                        {% csrf_token %}
                        {{form}}
                        <button type="submit" class="btn btn-success mt-4">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}