{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    {% include 'home/sidebarLeft.html' %}

    <div class="col-lg-7 col-md-6 ptb-50">
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="home-post-area">
            {% for post in all_posts %}
            <div class="single-post">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="profile d-flex">
                            <img src="{{post.author.avater.url}}" alt="demo">
                            <ul class="user-details">
                                <li>
                                    <a class="username" href="#">{{ post.author.user }}</a>
                                </li>
                                <li>
                                    <p>{{ post.created|timesince}} ago</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="post-menu">
                            <a class="postbtn bx bx-dots-vertical-rounded"></a>
                            <div class="menu-content">
                                <a href="#">Edit</a>
                                <a href="#">Delete</a>
                                <a href="#">Hide</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="post-content">
                            <p class="p-link">Problem Link: <a target="_blank"
                                    href="{{post.postlink}}">{{post.postlink}}</a></p>
                            <p class="show-read-more">{{post.content}}</p>
                            {% if post.image %}
                            <div>
                                <img src="{{post.image.url}}" alt="post-img">
                            </div>
                            {% endif %}

                        </div>

                        <!--Like  Comments-->
                        <div class="like-comment">
                            <div class="like">
                                <form action="{% url 'posts:postsLike' %}" method="POST" enctype=multipart/form-data>
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value={{post.id}}>

                                    <button href="javascript:void(0);" class="like-button">
                                        {% if profile not in post.liked.all %}
                                        <i class="material-icons not-liked bouncy">favorite_border</i>
                                        {% else %}
                                        <i class="material-icons is-liked bouncy">favorite</i>
                                        <span class="like-overlay"></span>
                                        {% endif %}
                                    </button>
                                    <span class="like-count">{{post.num_likes}}</span>
                                </form>
                            </div>
                            <div class="comment">
                                <a href=""><i class='bx bxs-comment-dots'></i></a>
                                <span class="comment-count">{{post.num_comments}} Comments</span>
                            </div>
                        </div>

                        <div class="comments">
                            {% if not post.comment_set.all %}

                            {% else %}
                            {% for comment in post.comment_set.all %}
                                <div class="single-comment">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="comment comment-box d-flex">
                                                
                                                <!-- Comment Image Loading -->

                                                <img src="{{post.comment_set.user.profile.avater.url}}" alt="demo">
                                                
                                                <ul class="user-details">
                                                    <li>
                                                        <a class="username" href="#">{{comment.user}}</a>
                                                    </li>
                                                    <li>
                                                        <p>{{comment.date}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p class="comment-body">{{comment.body}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <div class="comment-field">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{comment_form}}
                                <div class="comment-img">
                                    <img src="{{profile.avater.url}}" alt="demo">
                                </div>
                                <input type="hidden" name='post_id' value={{post.id}}>
                                <button type="submit" class="send-btn" name="comment_submit_form"><i
                                        class='bx bxs-send'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--{% include 'home/sidebarRight.html' %}-->

    <div class="col-lg-2 my-5">
        <form action="" method="POST" enctype=multipart/form-data>
            {% csrf_token %}
            {{post_form}}
            <button type="submit" class="btn btn-primary my-2" name="post_submit_form">Post</button>
        </form>

        <!-- Button trigger modal -->
        <a class="post-text-area" data-toggle="modal" data-target="#exampleModalCenter">
            <input class="form-control" type="text" placeholder="What's on your mind {{user}}">
        </a>

        <!-- Modal -->
        <div class="modal fade post-modal" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="" method="POST" enctype=multipart/form-data>
                            {% csrf_token %}
                            {{post_form}}
                            <button type="submit" class="btn btn-primary my-2" name="post_submit_form">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock content %}