{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-lg-6 col-md-6 ptb-50 m-auto">
            <h3>Update Post</h3>
            <form action="" method="POST" enctype=multipart/form-data>
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>
{% include "home/footer.html" %}
{% endblock content %}